.news-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100vh - var(--total-height));

}

.accordion {
  width: 90%;

}

.contentBox {
  color: white;
  margin-bottom: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.329);
  border-radius: 1rem;

}

.contentBox .label {
  background: #16a400;
  padding: 1rem;
}

.label {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.toggle-icons-news p {
  font-size: 2rem;
  transition: .3s;
}

.toggle-icons-news p:hover {
  color: rgb(255, 0, 0);
}

.contentBox .full-content {
  background: #e4e4e4;
  padding: 1rem;
  color: rgb(0, 0, 0);
  overflow: auto;
  height: 25vh;
  font-size: 1.2rem;
}