
/* **************************************** SIGN IN PAGE ************************************************** */

.sign-in-container{

  margin: 0;
  padding: 0;
  width: 100%;
  height: 76vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgba(255, 255, 255, 0.4); */
  backdrop-filter: blur(2px);
}

.left-sign-in , .right-sign-in{
  width: 100%;
  height: 100%;
  padding: 1rem;
}
.left-sign-in .left-sign-img{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  padding: .5rem;
}

.right-sign-in .right-heading{
  display: block;
  font-size: var(--md-1-5);
  margin-left: var(--md-2);

}

.right-sign-in .right-heading .right-span{
  font-size: var(--md-2-5);
  display: block;
  color: var(--dark-red-1);
}
.heding-inside{
  text-align: center;
  display: block;
  margin-bottom: var(--md-1);
  
}
.heading{
  margin-bottom: var(--md-2);
  margin-top: .5rem;
}
.sign-in-tags,.sign-in-btn{
  display: block;
  margin-left: var(--md-2);
}
.input-sign,.sign-in-btn{
  margin-bottom: var(--md-1-5);

}
.sign-in-form .input-sign,.sign-up-form .input-sign{
  width: 90%;
  height: var(--md-2-5);
  border: none;
  outline: none;
  font-size: var(--md-1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: .3rem;
  padding: 1rem;
  margin-top: .2rem;


}
.sign-in-form .btn-div{
  width: 90%;
  margin: 0 auto;

}

/* ************************ SIGN UP PAGE ************************************ */
.form-container{
  margin-left: var(--md-2);

  display: grid;
  grid-template-columns: auto auto;
}
.left-form .lable,.right-form .lable{
  display: block;
}
.sign-up-form .btn-div{
  width: 90%;
  
  margin: 0 auto;
  margin-left: var(--md-2);
  
}
.sign-up-form .sign-up-btn,.sign-in-form .sign-up-btn{
  width: 100%;
  margin-top: 1rem;
  border: none;
  outline: none;
  padding: .8rem 3rem;
  font-size: var(--md-1);
  font-weight: 600;
  color: var(--white);
  background: var(--btngreen);
  border-radius: .3rem;
  cursor: pointer;
  transition: all .3s ease-in;
}
.sign-up-form .sign-up-btn:hover, .sign-in-form .sign-up-btn:hover{
  background: var(--dark-black);
}
.dob-cursor{
  cursor: text;
}

.gender-container{
  margin-left: var(--md-2);
  
}
.radio-btn{
  cursor: pointer;
}
.gender-lable{
  
  margin-left: var(--md-3);
}

/* **************************  GET STARTED ************************************************************************* */
.get-started-container {
  margin: 1.6rem 5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 1rem;
}
.get-started-container .get-started-image{
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 250px;
}

.get-started-heading{
  margin: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
  /* color: #28a745; */
  color: var(--dark-red-1);
}

.get-started-pera{
  text-align: justify;
}

.get-started-btn{
  margin-top: 2rem;
  border: none;
  outline: none;
  padding: .8rem  3rem;
  border-radius: .4rem;
  background: var(--btngreen);
  color: var(--white);
  box-shadow: 0 0 10px rgba(40, 167, 69, 0.9);
  
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: all .3s ease-in;
}
.get-started-btn:hover{
  background: var(--dark-black);
  /* background: var(--dark-red-1); */
  box-shadow: 0 0 10px rgba(0,0,0, 0.5);

}

.btn-div{
  display: flex;
  align-items: center;
  justify-content: center;
}



