::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;

}

::-webkit-scrollbar-thumb {
  background-color: #0009;
  border-radius: 10px;
  width: 8px;
  box-shadow: 0 2px 10px #0003;
}

a {
  text-decoration: none;
  color: black;
}

.flex-align {
  display: flex;
  align-items: center;
}

.flex-align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-align-spacebetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* **************************************** SIGN IN PAGE ************************************************** */
.sign-in-container {

  margin: 0;
  padding: 0;
  width: 100%;
  height: 76vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgba(255, 255, 255, 0.4); */
  backdrop-filter: blur(2px);
}

.left-sign-in,
.right-sign-in {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.left-sign-in .left-sign-img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  padding: .5rem;
}

.right-sign-in .right-heading {
  display: block;
  font-size: var(--md-1-5);
  margin-left: var(--md-2);

}

.right-sign-in .right-heading .right-span {
  font-size: var(--md-2-5);
  display: block;
  color: var(--dark-red-1);
}

.heding-inside {
  text-align: center;
  display: block;
  margin-bottom: var(--md-1);

}

.heading {
  margin-bottom: var(--md-2);
  margin-top: .5rem;
}

.sign-in-tags,
.sign-in-btn {
  display: block;
  margin-left: var(--md-2);
}

.input-sign,
.sign-in-btn {
  margin-bottom: var(--md-1-5);

}

.sign-in-form .input-sign,
.sign-up-form .input-sign {
  width: 90%;
  height: var(--md-2-5);
  border: none;
  outline: none;
  font-size: var(--md-1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: .3rem;
  padding: 1rem;
  margin-top: .2rem;


}

.sign-in-form .btn-div {
  width: 90%;
  margin: 0 auto;

}

/* ************************ SIGN UP PAGE ************************************ */
.form-container {
  margin-left: var(--md-2);

  display: grid;
  grid-template-columns: auto auto;
}

.left-form .lable,
.right-form .lable {
  display: block;
}

.sign-up-form .btn-div {
  width: 90%;

  margin: 0 auto;
  margin-left: var(--md-2);

}

.sign-up-form .sign-up-btn,
.sign-in-form .sign-up-btn {
  width: 100%;
  margin-top: 1rem;
  border: none;
  outline: none;
  padding: .8rem 3rem;
  font-size: var(--md-1);
  font-weight: 600;
  color: var(--white);
  background: var(--btngreen);
  border-radius: .3rem;
  cursor: pointer;
  transition: all .3s ease-in;
}

.sign-up-form .sign-up-btn:hover,
.sign-in-form .sign-up-btn:hover {
  background: var(--dark-black);
}

.gender-container {
  margin-left: var(--md-2);
  display: flex;

}

.radio-btn {
  cursor: pointer;
}

.gender-lable {

  margin-left: var(--md-3);
}

/* **************************  GET STARTED ************************************************************************* */

.get-started-container {
  margin: 1.6rem 5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 1rem;
}

.get-started-container .get-started-image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 250px;
}

.get-started-heading {
  margin: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
  /* color: #28a745; */
  color: var(--dark-red-1);
}

.get-started-pera {
  text-align: justify;
}

.get-started-btn {
  margin-top: 2rem;
  border: none;
  outline: none;
  padding: .8rem 3rem;
  border-radius: .4rem;
  background: var(--btngreen);
  color: var(--white);
  /* box-shadow: 0 0 10px rgba(40, 167, 69, 0.9); */

  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: .2s ease-in;
  box-sizing: border-box;
}

.get-started-btn:hover {
  background: white;
  box-shadow: 0 0 15px rgba(40, 167, 69, 0.7);
  color: rgba(40, 167, 69, 0.9);
  border: 2px solid rgba(40, 167, 69, 0.9);
  font-weight: 600;
}

.btn-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* **************************************** CONTACT PAGE **************************************************** */
.contact-container {
  width: 95%;
  margin: 1rem auto;
  /* box-shadow: 0 2px 10px #0003; */
  padding: 2rem;
}

.company-contact {
  /* box-shadow: 0 2px 10px #0003; */
  padding: 1rem;
}

.get-in-touch {
  font-size: 2.3rem;
}

.hr {
  margin-bottom: 3rem;
}

.get-in-touch span {
  font-size: 3rem;
  color: var(--dark-red-1);
}

.company-details {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: auto auto auto;
}

.company-details span {
  /* box-shadow: 0 2px 10px #0003; */
  margin: 1rem;
  padding: .5rem;
  border-radius: 4px;

}

.company-details h2 {
  margin: 1rem;
  font-size: 1.3rem;
}

.company-details span h2 {
  margin-left: 1rem;
  font-size: 1.3rem;
  display: inline-block;
}

.company-details i {
  font-size: 1.3rem;
}

.company-details p {
  margin-top: .5rem;
  font-size: 1rem;
}

.top {
  width: 70%;
  margin: 0 auto;
  margin-top: 3rem;
}

.message-contact-form {
  /* box-shadow: 0 2px 10px #0003; */
  padding: 1rem;
  align-items: center;

}

/* .send-message{

} */
.contact-form {
  display: grid;
  grid-template-columns: auto auto;
}

.contact-form span h1 {
  font-size: 1.5rem;
  margin-left: 1.2rem;
}

.contact-form span input {
  margin-top: 1rem;
  padding: .5rem 1.2rem;
  width: 90%;
  margin-left: 1.2rem;
  font-size: 1.3rem;
}

.contact-textarea {
  margin-top: 1rem;
  font-size: 1.3rem;
  resize: none;
  margin-left: 1.2rem;
  width: 95%;
  height: 20vh;
  padding: .2rem;
}

.send-btn-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-btn {
  width: 25%;
  margin-left: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: none;
  outline: none;
  padding: .8rem 3rem;
  border-radius: .4rem;
  background: var(--btngreen);
  color: var(--white);
  box-shadow: 0 0 10px rgba(40, 167, 69, 0.9);

  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: all .3s ease-in;
}

.send-btn:hover {
  background: var(--dark-black);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.contact-form-map {
  box-shadow: 0 2px 10px #0003;
  background: var(--dark-black);
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}

.contact-form-map iframe {
  width: 100%;
  height: 50vh;
  border: 0;
}

.contact-margin {
  margin-bottom: 4rem;
}

.social-icons-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.social-icons-contact a {
  margin: 1rem;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  padding: 1rem 1.2rem;
  background: white;
  transition: .3s;

}

.social-icons-contact a i {
  font-size: 1.6rem;
  color: red;

}

.social-icons-contact a:hover {
  background: black;

}

.social-icons-contact a:hover i {
  color: white;

}

/* ****************************************   ABOUT PAGE **************************************************** */
.about-container {
  text-align: justify;
  margin: 1rem;
  box-sizing: border-box;

}

.about-header {
  display: flex;
  width: 100%;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
  /* padding: 1rem; */
  text-align: justify;
}


.about-header div {
  padding: 1rem;
}

.about-header-left {
  width: 50%;
}

.about-header-left h1 {
  font-size: 3rem;
}

.about-header-left h1 span {
  font-size: 4rem;
  color: red;
}

.about-header-right,
.our-focus-right {
  width: 50%;
}

.about-header-right video {
  width: 100%;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */

}

/* Why us in about us page */
.why-choose-us-about {
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
  /* padding: 1rem; */
  margin-top: 2rem;
  /* border-top: 2px solid gray;
  border-bottom: 2px solid gray; */

}

.why-choose-us-about h1 {
  text-align: center;
  font-size: 2.5rem;
  color: red;

}

.why-us {
  display: grid;
  grid-template-columns: auto auto;
}

.why-us-content {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  padding: 1rem;
  margin: 1rem;
}

.why-us-content i {
  padding: 1rem;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.why-us-content i {
  font-size: 1.7rem;
}

.why-us-content h2 {
  font-size: 1.7rem;
  margin-top: 2rem;
  color: #591a8b;
}

.our-focus-container,
.user-about-count {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 1rem;
}

.our-focus-left {
  width: 50%;
}

.our-focus {
  padding: 1rem;

}

.our-focus-left video {
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
}

.our-focus-left h1 {
  font-size: 2rem;
  color: #591a8b;
  margin-bottom: 1rem;
}


.our-focus-right img {
  margin-top: 5rem;
  width: 400px;
}

.our-focus-heading {
  margin-top: 1rem;
  font-size: 3rem;
  text-align: center;
  color: red;
}

.user-about-count {
  margin-top: 2rem;
  align-items: center;
  justify-content: space-around;
}

.user-count {
  text-align: center;
  margin: .5rem;
  padding: 2rem;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.user-count h1 {
  padding-bottom: .5rem;
  font-size: 1.7rem;
  color: black;
  border-bottom: 4px solid #591a8b;
  margin-bottom: 1rem;
}

/* ********************************** REVIEWS PAGE ******************************** */
.review-main-container {
  margin: 1rem;

}

.heading-review-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heading-review-container h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 4px solid #591a8b;
}

.heading-review-container p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.heading-review-container p span {
  font-size: 1.3rem;
  font-weight: 500;
  color: #591a8b;
}

.reviews-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 7px;
}

.inner-slider {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 2rem;
}

.reviews-container {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.reviews-container .reviews {
  margin: 1rem;
  padding: 1rem;
  height: 40vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  height: 45vh;

}

.reviews-container .reviews .review-content {
  overflow: auto;
  height: 22vh;
  padding: .5rem;
  overflow-y: auto;

}

.top-reviews {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

}

.top-reviews h1 {
  font-size: 1.5rem;
}

.top-reviews h1 span {
  font-size: 2rem;
  color: #591a8b;
  padding: 0;
  border-bottom: 2px solid #591a8b;
}

.reveiw-profile {
  background-position: center;
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin-bottom: 1rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 30px;
  width: 30px;
  outline: none;
  background-color: rgba(0, 0, 0, 0.8);
  background-size: 100%, 100%;
  border-radius: 50%;
  transition: .3s;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: rgba(255, 0, 0);
}

/* ***************************************** SEARCH BOX CONTAINER ************************ */
.search-main-container {
  background: var(--white);
  /* box-sizing: border-box; */
}

.search-box-container {
  width: 100%;
  height: 100%;
  border: 2px solid rgba(0, 0, 0, 0.3);
  padding: 2rem;
  /* box-shadow: 0 0 10px rgba(38, 0, 255, 0.4); */

}

.search-box-img {
  width: 50%;
  margin: 0 auto;

}

.search-img {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  background: rgb(255, 254, 254);
  border: 2px solid black;
  padding: .5rem 0rem;
  width: 90%;
  height: 125px;
  transition: .3s;
  border-radius: 4px;
}

/* 
.search-box-img img:hover {
  box-shadow: 0 0 10px red;
  border: 2px solid red;

} */

.search-input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;

}

.search-box-heading {
  margin-bottom: 2rem;
  font-size: 1.4rem;
  letter-spacing: .2rem;
  text-align: center;
  color: rgb(0, 0, 0);
}

.search-box-heading .search-span span {
  font-size: 2rem;
  color: var(--dark-red-1);
  text-transform: uppercase;
}

.search-input-box .input-span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
}

.search-input-box .input-span input {
  width: 40vw;
  padding: .8rem;
  font-size: 1.2rem;
  border: none;
  outline: none;
  /* box-shadow: 0 0 10px rgba(38, 0, 255, 0.4); */
  /* border: 2px solid rgba(51, 0, 255, 0.724); */
  border: 2px solid rgba(0, 0, 0, 0.724);
  border-radius: 4rem;
  margin-right: 1rem;
  transition: .3s;
}

.search-input-box .input-span i {
  padding: 1rem;
  font-size: 1.4rem;
  /* box-shadow: 0 0 10px rgba(38, 0, 255, 0.4); */
  border: 2px solid rgba(0, 0, 0, 0.724);
  border-radius: 4rem;
  transition: .3s;
}


.search-input-box .input-span input:focus {
  box-shadow: 0 0 5px rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
}

.search-input-box .input-span i:hover {
  cursor: pointer;
  box-shadow: 0 0 5px red;
  border: 2px solid red;
}

.search-lables {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.search-lables span {
  margin: 1rem;
  /* border: 2px solid rgba(51, 0, 255, 0.724); */
  border: 2px solid rgba(0, 0, 0, 0.724);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  /* color: rgb(51, 0, 255); */
  color: rgb(0, 0, 0);
  padding: .5rem .6rem;
  border-radius: 4rem;
  cursor: pointer;
  transition: .3s;
}

.search-lables span i {
  margin-left: .4rem;
}

.search-lables span:hover {
  box-shadow: 0 0 5px red;
  border: 2px solid rgb(255, 0, 0);

  color: red;
}

.search-lables a {
  margin: 1rem;
  /* border: 2px solid rgba(51, 0, 255, 0.724); */
  border: 2px solid rgba(0, 0, 0, 0.724);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  /* color: rgb(51, 0, 255); */
  color: rgb(0, 0, 0);
  padding: .5rem .6rem;
  border-radius: 4rem;
  cursor: pointer;
  transition: .3s;
  margin-right: .2rem;
}

.search-lables a:hover {
  box-shadow: 0 0 5px red;
  border: 2px solid rgb(255, 0, 0);

  color: red;
}




.search-result-content {
  margin-top: 1.5rem;
  border: 2px solid rgba(0, 0, 0, 0.3);
  padding: 1rem;

}


.search-result-content .search-content {
  height: 30vh;
  display: grid;
  grid-template-columns: 1fr 5fr 1.5fr;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: .5rem;
  width: 90%;
  margin: 1rem auto;

}

.search-result-content .search-content:hover {
  background: rgb(246, 240, 255);
  box-shadow: 0 0 10px rgba(0, 26, 255, 0.4);


}


.college-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.college-img img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.386);
  border-radius: .5rem 0 0 .5rem;
  padding: .5rem;
  width: 50%;
  border-radius: 50%;
  height: 10vh;
}

.search-content .college-data {
  padding: 1rem;
  text-transform: capitalize;

}

.college-name-container .college-name {
  font-size: 1.1rem;
  color: rgb(38, 0, 255);
  cursor: pointer;
}

.college-name-container p {
  font-size: .8rem;
}

.fee-structer:hover {
  text-decoration: underline;
}

.fee-structer h1 {
  font-size: 1.2rem;
}

.fee-structer p {
  font-size: .8rem;
}

.redirect-college {
  display: flex;
  align-items: center;
  justify-content: center;
}

.redirect-btn {
  border: none;
  outline: none;
  background: rgb(38, 0, 255);
  padding: .8rem 0;
  width: 150px;
  border-radius: .4rem;
  color: white;
}

.redirect-btn a {
  color: white;
}

.redirect-btn:hover {
  background: white;
  color: rgb(38, 0, 255);
  box-shadow: 0 0 10px rgba(38, 0, 255, 0.427);
  border: 2px solid rgb(38, 0, 255);
}


.redirect-btn:hover a {
  background: white;
  color: rgb(38, 0, 255);
}

/* 
.search-result-content.top-clg {
  margin-top: 0rem;
}

.search-content.top-clg-content {
  height: 35vh;
}

.search-content.top-clg-content .college-img img {
  height: 35vh;
} */


.select-subjects {
  border: 2px solid rgba(0, 0, 0, 0.3);
  /* min-height: 30vh; */
  margin-top: 1.5rem;
  padding: 1.2rem;
  transition: all .3s;
  border-radius: 0 20px 0 20px;
}

.select-subjects:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  background-color: #0000001d;
}

.select-sub-lables {
  display: flex;
  align-items: center;
  justify-content: center;

}

.select-subjects h1 {
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin-top: .5rem;
}

/* --------------- Blogs Page -------------- */
.blog-cards-container {
  width: 100%;
  margin-top: 1rem;
  /* position: relative; */
}

.blog-cards-container .blog-card {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 1fr 5fr 1fr;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.269);
  margin: .7rem 0rem;
  padding: 1rem;
}

.blog-cards-container .blog-card:hover {
  background-color: #b0adad24;
}

.blog-cards-container .blog-card .blog-user-profile {
  padding: 1rem;
}

.blog-cards-container .blog-card .blog-user-profile img {
  box-shadow: 0 0 5px rgba(44, 0, 120, 0.49);
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.blog-head-content {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 2rem;
  line-height: 1.2rem;
  font-size: .9rem;
  border-left: 3px solid rgb(44, 0, 120);
  border-right: 3px solid rgb(44, 0, 120);
}

.blog-head-content h1 {
  margin-bottom: 1rem;
  color: rgb(44, 0, 120);
  cursor: pointer;
}

.blog-head-content h1:hover {
  margin-bottom: 1rem;
  color: rgb(93, 0, 255);
}


.blog-accordian-icon {
  height: 80%;
  display: flex;
  align-items: center;
}

.blog-accordian-icon span {
  margin-left: 3rem;
  font-size: 2rem;
  color: rgb(54, 0, 147);
  cursor: pointer;
  border: 2px solid rgb(54, 0, 147);
  padding: 0rem .8rem;
  border-radius: 50%;
  transition: all .3s;

}

.blog-accordian-icon span.download-btn {
  margin-left: 3rem;
  font-size: 2rem;
  color: rgb(54, 0, 147);
  cursor: pointer;
  border: 2px solid rgb(54, 0, 147);
  padding: 0rem .8rem;
  border-radius: .4rem;
  transition: all .3s;
}

.blog-card-content-container {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.269);
  height: 73vh;
}



.blog-accordian-icon span:hover {
  background-color: rgb(54, 0, 147);
  color: white;
}


.blog-main-content {
  padding: 2rem 2rem;
  height: 70vh;
  overflow-y: auto;
  /* margin-top: .5rem; */

}

.blog-main-content h1 {
  font-size: 1.7rem;
  border-bottom: 2px solid black;
  padding-bottom: .2rem;
  margin-bottom: 1rem;
}

.blog-main-content h2 {
  font-size: 1.4rem;

}

.blog-main-content h3 {
  font-size: 1.2rem;

}

.blog-main-content h4 {
  font-size: 1rem;
}

.edit-profile-container {
  display: flex;

}


/* Edit Profile page */

.edit-profile-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 1rem auto;
  padding: 1rem;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.262);

}

.pass-profile-container h1 {
  padding: 0 2rem;
  letter-spacing: .2rem;
}

.pass-profile-container h1 span {
  font-size: 2.1rem;
  color: red;

}

.edit-profile .profile-logo-container {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

.profile-logo-container img {
  width: 150px;
  height: 100px;
}

.edit-data-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.input-container {
  display: flex;
  flex-direction: column;
  padding: .5rem 2rem;
}

.input-container label {
  font-size: 1.2rem;
  margin-bottom: .5rem;
}

.input-container input {
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid rgb(110, 110, 110);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.205);

  outline: none;
  padding: .7rem 1rem;
}

.radio-container {
  display: flex;
  align-items: center;
  padding: 2rem;
}


.radio-container label {
  margin-right: 2rem;
  font-size: 1.2rem;


}

.radio-container input {
  margin-right: .5rem;
  width: 1rem;
  height: 1rem;

}

.save-first-btn-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.save-first-btn-box button {
  border: none;
  outline: none;
  padding: .5rem 1.5rem;
  font-size: 1.2rem;
  background-color: var(--btngreen);
  color: white;
  border-radius: .4rem;
  transition: all .3s linear;
  font-weight: 600;
}

.save-first-btn-box button:hover {
  background-color: white;
  color: var(--btngreen);
  /* border: 2px solid var(--btngreen); */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.365);
}

.edit-password {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.edit-password label {
  font-size: 1.2rem;
  margin: 1rem 0 .4rem 0rem;

}

.edit-password input {
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid rgb(110, 110, 110);
  outline: none;
  padding: .7rem 1rem;
}

.logout-from-all {
  margin: 2rem 0;
}

/* post reviews */
.post-revies-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-direction: column;
  padding: 2rem;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.262);
  margin-top: 1rem;

}

.post-revies-container h1 {
  margin-top: 1rem;
}

.post-revies-container h1 span {
  font-size: 1.7rem;
  color: #591a8b;
}

.post-revies-input-container {
  display: flex;
  flex-direction: column;

}

.post-revies-input-container>label {
  font-size: 1.7rem;
  color: #591a8b;
  font-weight: 500;
  margin-top: 2rem;
}

.post-revies-input-container>input {
  font-size: 1rem;
  margin-top: 1rem;
  border: none;
  border: 2px solid rgb(110, 110, 110);
  outline: none;
  padding: .7rem 1rem;
}

.post-revies-input-container>textarea {
  font-size: 1.2rem;
  margin-top: 1rem;
  border: none;
  border: 2px solid rgb(110, 110, 110);
  outline: none;
  resize: none;
  padding: .7rem .5rem;
}

.rating>label {
  font-size: 1.7rem;
  color: #591a8b;
  font-weight: 500;
  margin-top: 2rem;
}

.input-rating-div {
  display: flex;
  align-items: center;

}

.input-rating-div label {
  margin-right: 3rem;
  font-size: 1.5rem;
}

.input-rating-div input {
  border: 0px;
  margin-right: .5rem;
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;

}

/* Add college details page */

.add-clg-container,
.post-accademics-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.add-clg-container h1,
.post-accademics-container h1 {
  font-size: 2rem;
  font-weight: 600;
}

.add-clg-container h1 span,
.post-accademics-container h1 span {
  font-size: 2.5rem;
  color: red;
}

.add-clg-container p {
  font-size: 1.3rem;
}

.add-clg-input-container,
.post-accademics-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1.5rem;
  /* align-items: flex-start; */
  padding: 2rem;
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.205);
}

.add-clg-input-container label,
.post-accademics-input-container label {
  margin-top: 1.5rem;
  margin-bottom: .2rem;
  font-size: 1.3rem;
}

.add-clg-input-container input,
.post-accademics-input-container input {
  padding: .5rem 1rem;
  font-size: 1.1rem;
  border: none;
  outline: none;
  border-bottom: 2px solid gray;
  border-radius: .2rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.205);
}

.add-clg-input-container .add-clg-btn-container,
.post-accademics-input-container div {
  margin: 0 auto;
}

.add-clg-input-container .add-clg-btn-container button,
.tag-button-container button,
.post-accademics-input-container div button {
  margin-top: 1rem;
  padding: .7rem 3rem;
  border: none;
  outline: none;
  background-color: var(--btngreen);
  color: white;
  font-size: 1.2rem;
  border-radius: .4rem;
  transition: all .3s linear;
  font-weight: 600;
}

.add-clg-input-container .add-clg-btn-container button:hover,
.post-accademics-input-container div button:hover {
  background-color: white;
  color: var(--btngreen);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.313);

}

.post-accademics-input-container .file-input {
  padding: .5rem 1rem;
  font-size: 1.1rem;

  border: none;
  outline: none;
  border-radius: .2rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.205);

}

/* post blogs page */
.post-blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.post-blog-container h1 {
  font-size: 2rem;
  font-weight: 600;
}

.post-blog-container h1 span {
  font-size: 2.5rem;
  color: red;
}

.post-blog-content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.205);
}

.post-blog-content-container>label {
  margin-bottom: .2rem;
  font-size: 1.3rem;
}

.post-blog-content-container>input {
  padding: .5rem 1rem;
  font-size: 1.1rem;
  border: none;
  outline: none;
  border-bottom: 2px solid gray;
  border-radius: .2rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.205);
  margin-bottom: 1rem;
}

.category-radio-container {
  display: flex;
  align-items: center;
}

.category-radio-container label {
  margin: 1rem 1.5rem 1rem .5rem;
  font-size: 1.2rem;
}

.category-radio-container input[type='radio'] {
  width: 1rem;
  height: 1rem;
}

.tag-button-container button {
  margin-top: 1rem;
  padding: .5rem 1.2rem;
  border: none;
  outline: none;
  background-color: var(--btngreen);
  color: white;
  font-size: 1.2rem;
  border-radius: .4rem;
  transition: all .3s linear;
  font-weight: 600;
  margin-right: .5rem;
  margin-bottom: 1rem;
}

.tag-button-container button:hover {
  background-color: white;
  color: var(--btngreen);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.313);

}

.post-blog-content-container textarea {
  resize: none;
  height: 10rem;
}

.post-blog-content-container>button {
  padding: .5rem 1.2rem;
  border: none;
  outline: none;
  background-color: var(--btngreen);
  color: white;
  font-size: 1.2rem;
  border-radius: .4rem;
  transition: all .3s linear;
  font-weight: 600;
  width: 300px;
  margin: 1rem auto;
}

.post-blog-content-container>button:hover {
  background-color: white;
  color: var(--btngreen);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.313);

}

.post-blog-content-container>h1 {
  text-align: center;

}

.blog-preview-container h1 {
  font-size: 1.7rem;
  border-bottom: 2px solid black;
  padding-bottom: 0.2rem;
  margin-bottom: 1rem;
}

.blog-preview-container h3 {
  font-size: 1.2rem;
}

.tags-div {
  position: relative;
}

.tags-div div {
  position: absolute;
  right: 0;
  top: 0px;
  display: flex;
}

.tags-div button {
  border: none;
  outline: none;
  padding: .1rem .5rem;
  background-color: var(--btngreen);
  color: white;
  font-size: 1rem;
  border-radius: .4rem;
  transition: all .3s linear;
  font-weight: 300;
  margin-right: .1rem;
}

.tags-div button:hover {
  background-color: white;
  color: var(--btngreen);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.313);
}

.tags-div p {
  width: 95%;
}